#URL Base IBPT
URL_IBPT=https://deolhonoimposto.ibpt.org.br

# Credenciais do IBPT (OBRIGATÓRIO)
IBPT_USERNAME=seu_usuario_ibpt
IBPT_PASSWORD=sua_senha_ibpt

# Configurações Empresa
CNPJ_EMPRESA=12345678910

# Configurações do Telegram (OBRIGATÓRIO)
TELEGRAM_TOKEN=seu_token_telegram
TELEGRAM_BOT_USERNAME=seu_bot_username
ADMIN_IDS=12345,54321

# Estados para verificar (OBRIGATÓRIO)
# OBS: Selecionar mais de um estado fará com que o tamanho do arquivo aumente.
# O bot Telegram só consegue enviar arquivos de até 50MB no máximo.
ESTADOS=SP,RJ,MG,RS,PR,SC,GO,MT,MS,RO,AC,AM,RR,PA,AP,TO,MA,PI,CE,RN,PB,PE,AL,SE,BA,ES,DF

# Configurações de tentativas
MAX_ATTEMPTS=120
DELAY_SECONDS=10

# Debug (true/false)
ENABLE_DEBUG=true

# Configurações do cron (padrão: 7h da manhã)
# Padrão: "0 7 * * *" (todos os dias às 7h da manhã)
# Outros exemplos:
# "*/30 * * * *" - a cada 30 minutos
# "0 */2 * * *" - a cada 2 horas
# "0 9-18 * * 1-5" - de hora em hora das 9h às 18h, de segunda a sexta
# "0 7,19 * * *" - às 7h e 19h todos os dias
CRON_SCHEDULE=0 7 * * *

# Timezone
TZ=America/Sao_Paulo